// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: $font_color;
}

img {
    display: block;
    width: 100%;
}

//container
.container {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 30px 0;
}

.container-pink {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px 0;
}

@media all and (max-width: $smartphone-size) {
    .container {
        width: 80%;
    }
}

.title {
    font-size: $font_size_title;
}

.small-text {
    font-size: $small_font_size;
}

.three-img{
    display: flex;
    justify-content: space-around;
    padding: 30px 0px 40px 0px;

    img {
        width: auto ;
        height: 60px;
        margin: auto;
        margin-bottom: 20px;
    }
}

.central-img {
    width: 170px;
    height: auto;
    margin: auto;
    margin-bottom: 70px;
}
