//MAIN
main {

    .container {
        display: flex;
        padding: 30px 0;

        .teaser {
            width: 55%;                                
                
            h1 {
                margin-bottom: 6px;
            }     
                
            p {
                margin-bottom: 30px;
                font-size: $medium_font_size;
            }

            .link {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .btn {
                    @include main_menu_btn;
                    background-color: $btn_color;
                    color: #fff;
                    font-size: $small_font_size;
                    cursor: pointer;
                    
                    img {
                        @include header_img_btn;
                    }
                }

                span {
                    margin: 0 5px;
                }      
                                                      
            }
        }

            .jumbo-img {
                width: 55%;
        } 
    }
}

