@mixin header_links {
    text-decoration: none;
    font-size: $small_font_size;
    font-weight: 600;
    color: $font_color;
}

@mixin header_menu_btn {
    padding: 5px 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

@mixin header_img_btn {
    height: 13px;
    width: 13px;
    margin-right: 3px;
}

@mixin main_menu_btn {
    padding: 3px 5px;
    border: 0px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}