//colors
$primary_color: #ffe7d2;
$font_color: #58402c;
$btn_color: #2e4790;

//font
$font_size_title: 27px;
$small_font_size: 9px;
$medium_font_size: 13px;

//grandezza cellulare
$smartphone-size: 600px;